@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');
:root {
    --cd-color-main: #058d00;
    --cd-color-main-hover: #2d9f29;
    --cd-color-main-active: #047c00;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
}

a {
    color: black;
    text-decoration: none;
}

button {    
    margin: 0;
    color: black;
    background-color: #bbb;
    border: 0;
    border-radius: 6px;
    height: 2.2rem;
    min-width: 2.2rem;
    cursor: pointer;
    padding: 0 0.6rem;
    line-height: 1.1rem;
}

button:hover {
    background-color: #CCC;
}

button:active {
    background-color: #777;
}

button.proceed {
    background-color: var(--cd-color-main);
    color: white;
}

button.proceed:hover {
    background-color: var(--cd-color-main-hover);
}

button.proceed:active {
    background-color: var(--cd-color-main-active);
}

hr {
    margin: 1rem 0;

}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
}


/* navbar */

.navbar-list {
    display: flex;
    background-color: var(--cd-color-main);
    justify-content: center;
    color:white;
}

.navbar-list a {
    color:white;
}

.navbar-category {
    display: flex;
    align-items: flex-end;
    line-height: 40px;
    font-size: 20px;
    padding: 20px 10px;
}

.navbar-category:hover {
    cursor: pointer;
    background-color: var(--cd-color-main-hover);
}

.navbar-category:active {
    cursor: pointer;
    background-color: var(--cd-color-main-active);
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}

.navbar-cart {
    font-weight: 300;
    padding: 20px;
}

.navbar-cart img {
    height: 16px;
    margin: auto;
    margin-right: 2px;
}

.cart-amount{
    position: relative;
    left: 15%;
}


/* item card */

.item-card {
    width: 16rem;
    height: 24rem;
    margin: 0.48rem 0.3rem;
    background-color: white;
    border: 0;
    border-radius: 5px;

    position: relative;
    display: flex;
    flex-direction: column;
}

.item-card:hover {    
    box-shadow: 0px 0px 0.3rem 0px #777;
}

.item-card img{   
    height: 100%;
    padding: 8px;
    object-fit: contain;
}

.item-card p {
    margin: 0;
    color:black;
}

.item-card .body {
    background-color: hsl(0, 0%, 80%);
    border-radius: 0 0 5px 5px;
    padding: 16px;
}

.item-card .body p {
    margin: 0;
    color:black;
}

.item-card .body p.name {
    margin: 0;
    font-size: 0.92rem;
    font-weight: 500;
}

.item-card .body p.amount {
    margin-top: 0.2rem;
    font-size: 0.78rem;
}

.item-card .body p.value {
    margin-top: 0.6rem;
    font-size: 0.84rem;
}

.item-card .body p.total {
    margin-top: 0.2rem;
    font-size: 0.92rem;
}

.item-card .body p.installments {
    margin: 0;
    font-size: 0.72rem;
    font-weight: 300;
    height: fit-content;
}

.item-list-container { /* container */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 48px;

    flex-wrap: wrap;
}


/* item detail */

.item-detail-container { /* container */
    margin: auto;
    margin-top: 0;
    padding: 0.6rem;
    
    color: black;

    width: 64rem;
    height: 36rem;
    background-color: white;
    border: 0;
    border-radius: 0 0 8px 8px;
}

.item-detail-img {
    object-fit: contain;
    padding: 0.6rem;
    height: 100%;
    max-width: 65%;
}

.item-detail-right {
    float: right;
    padding: 0 0 1rem 1rem;
    margin: auto;
    border: 1px #CCC;
    border-style: none none solid solid;
    border-radius: 0 0 0 20px;
}

.item-detail-buttons {
    display: flex;
    justify-content: space-between;
}

.item-detail-buttons div {   
    display: inline-block;
    min-width: 2rem;
    text-align: center;
}

.item-detail-buttons p {
    font-weight: bold;
}

.item-detail-buttons .add-to-cart {
    float: right;
    margin-right: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.item-detail-info p {
    inline-size: 20rem;
    overflow-wrap: anywhere;
    margin: 0;
}

.item-detail-info p.name {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.item-detail-info p.vendor {
    font-size: 0.7rem;
    font-weight: 300;
}

.item-detail-info p.value {
    margin-top: 4rem;
    font-size: 2.1rem;
    font-weight: 300;
}

.item-detail-info p.stock {
    margin-top: 0.4rem;
    font-size: 0.9rem;
}

/* cart */

.cart-container {
    margin: 2rem 5rem 0 5rem;
    display: grid;
    grid-template-columns: auto 16rem;
}

.cart-card-container {    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-card .remove {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #EEE;
    color: #AAA;
    border-radius: 16px;
    height: 1.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-weight: 300;
}

.item-card .remove:hover {
    background-color: rgb(252, 48, 48);
    color: #570000
}

.cart-info {  
    background-color: white;
    border-radius: 8px;
    height: fit-content;
    padding: 0.8rem;
}

.cart-info .cart-buttons {
    display: flex;
    justify-content: space-between;
}

.cart-info .cart-buttons .checkout {
    background-color: var(--cd-color-main);
    color: white;
}

.empty-cart {
    background-color: white;
    width: 28rem;
    margin: auto;
    margin-top: 1.2rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.empty-cart button {
    margin-top: 0.5rem;
}

/*checkout*/

.checkout-container {
    margin: auto;
    margin-top: 2rem;
    width: 40rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
}

.checkout-container p{
    font-size: 1.4rem;
    text-align: center;
}

.checkout-container p.detail {
    margin-top: 0.2rem;
    font-size: 0.78rem;
    font-weight: 600;
    color: #b90000;
    height: 1rem;
}

.checkout-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-empty p {
    margin: 0 0 2rem;
}

.checkout-form {
    margin-top: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 2.6fr;
    row-gap: 0.6rem;
}

.checkout-form label {
    margin: 0.6rem 0;
    height: 1rem;
    line-height: 16px;
}

.checkout-form input {
    height: 100%;
    border-radius: 8px;
    border: solid 1px rgb(139, 139, 139);
}

.checkout-form .button-panel {
    grid-column: 1 / span 2;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.checkout-form button {
    margin: 0 0.6rem;
    width: 8.8rem;
}